* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url("Cartao/estrelas.png");
    background-color: #121214;
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 32px 32px;
}


body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    color: antiquewhite;

}

header div {
    width: 120px;
    /*magin auto alinha a img no centro*/
    margin: auto;
    background-image: linear-gradient(90deg, #160057 0%, #5200bd 50.52%, #0673d8 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;
    /*mexer foto de perfil*/
    transition: transform .3s;
}

/*mexer foto de perfil*/
header div:hover {
    transform: scale(1.1);
}

.email:hover {
    transform: scale(1.1);
}

header img {
    /*100% do tamanho da div onde a img está*/
    width: 100%;
    border-radius: 50%;

}

.email {

    display: inline;
    text-align: center;
    transition: transform .3s;
}


main {
    /*Largur máx de 580 pixels*/
    max-width: 520px;
    /*Ocupa apenas 90% da largura da tela*/
    width: 90%;
    /*Calcula automaticamente as margens*/
    margin: 32px auto;
    display: grid;
    gap: 24px;

    margin-top: 32px;
}

section {

    background-image: linear-gradient(90deg, #160057 0%, #5200bd 50.52%, #0673d8 100%);
    padding-top: 4px;
    border-radius: 10px
}

section div {
    background-color: #2a2634;
    width: 88%;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

    text-align: center;
}

li {

    display: inline;
}

ul {
    /*remover pontinnhos da lista*/
    list-style: none;

}

/*ANIMATION*/

header div {
    animation: fromTop .4s backwards;
    animation-delay: .3s;
}

.email {
    animation: fromTop .4s backwards;
    animation-delay: .3s;
}

main section {

    animation: fromBotton .7s backwards;
    animation-delay: .2s;
}

from {
    /* Subir 30px no eixo Y */
    transform: translateY(-30px);
    opacity: 0;

}

to {
    /*Todo elemento começa na posição 0*/
    transform: translateY(0);
    opacity: 1;
}

/* Pega um div por vez do MAIN */
main section:nth-child(1) {

    animation-delay: .0s;
}

main section:nth-child(2) {

    animation-delay: .3s;
}

main section:nth-child(3) {

    animation-delay: .6s;
}



/*tag de animação*/
@keyframes fromTop {
    from {
        /* Subir 30px no eixo Y */
        transform: translateY(-30px);
        opacity: 0;

    }

    to {
        /*Todo elemento começa na posição 0*/
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes fromBotton {
    from {
        /* Subir 30px no eixo Y */
        transform: translateY(30px);
        opacity: 0;

    }

    to {
        /*Todo elemento começa na posição 0*/
        transform: translateY(0);
        opacity: 1;
    }

}